<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

**AHMED ALQASSRAWI**

Data analyst

*I am interested in data science because i can see more success in my life if i will take this path*

### code must be executed and must display an output for example 9/3=3

In [2]:
nine = 9
three = 3 
print(nine / three)

3.0

horizontal rule
---
type one 
***
type two
___
type three

bulleted list
* one
* two
* three

numbered list
1. one
2. two
3. three

table

| Name  | Surname    | age|
| ----- |------------| ---|
| Ahmed | Alqassrawi | 26 |